/* dashboar */
:root {
    --color-white: #fff;
    --color-white-dark: #c3c3c3;
    --color-dark: #000000;
    --color-primary: #01a0b8;
    --color-segundary: #f1f1f1;
    --btn-dark: #009fb7;
    --color-transparent: "transparent";
    --shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */
.navbar-shadow {
    box-shadow: 0px -5px 13px #7d7d7d;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 280px;
    position: fixed;
    top: 48px;
    left: 0;
    height: 100vh;
    background: #fff;
    color: #505050;
    transition: all 0.3s;
    z-index: 50;
    overflow-x: scroll;
}

#sidebar.active {
    margin-left: -280px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #505050;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 26px;
    line-height: 1.25rem;
    color: #202124;
    font-size: 0.875rem;
    letter-spacing: 0.01785714em;
    display: block;
    font-weight: 500;
}

#sidebar ul li a:hover {
    color: var(--btn-dark);
    background: #1fa0b469;
    border-radius: 5px;
}

#sidebar ul li a:hover svg path {
    fill: #1fa0b4;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #f6a843;
    background: #efeded;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #efeded;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

#content.active {
    width: 100%;
}

.content-dashboar {
    position: absolute;
    width: 100%;
    left: 70px;
    top: 100px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    background-color: #f8aa46;
    border-color: #f8aa46;
}

.page-item .page-link {
    z-index: 3;
    color: #f8aa46;
    background-color: transparent;
    border-color: #f8aa46;
}

.page-link {
    color: #fff;
    border-radius: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent !important;
}

.btn-secondary {
    color: #1fa0b4;
    background-color: transparent;
    border-color: transparent;
}

.text-title-table {
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    box-sizing: border-box;
    color: #5f6368;
    display: table-cell;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.text-table {
    font-size: 0.975rem;
    color: #3d3d3d;
}

.title-content {
    font-size: 20px;
    color: #424242;
}

.btn-menu {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;
}
.btn-menu span {
    padding: 5px;
}

.btn-menu:hover {
    background: #1fa0b469;
}

.btn-menu:hover svg path {
    fill: #1fa0b4e8;
}

.action-items {
    visibility: hidden;
}

tr:hover .action-items {
    visibility: visible;
}

.table-hover tbody tr:hover {
    background: #f5f5f5;
}

.action-items:hover svg path {
    fill: #1fa0b4;
}
.action-items svg path {
    fill: #1fa0b4be;
}

.modal-content {
    border: none;
    border-radius: 1rem;
}

.modal-footer {
    border-top: none;
}
