@media (max-width: 768px) {
    .menu-navbar {
        min-width: 250px !important;
    }

    .content-menu-logaut {
        width: 100%;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }

    .content-dashboar {
        left: 0px !important;
    }

    .title-icon {
        display: none;
    }

    .img-responsive-slide {
        width: 150px;
    }

    .bg-slider {
        height: 250px !important;
    }

    .img-slider-tlf {
        width: 70%;
    }

    .title-slider {
        font-size: 15px !important;
    }

    .btn-iniciar-sesion {
        font-size: 10px !important;
    }

    #sidebar {
        margin-left: -280px;
    }

    /* #owl-carousel-productos-semana .owl-nav,
    #owl-carousel-categorias .owl-nav {
        display: none !important;
    } */

    .owl-next {
        right: -0px !important;
    }
    .owl-prev {
        left: -0px !important;
    }

    .content-categorias {
        column-count: 1 !important;
        overflow-y: scroll !important;
        padding: 5px;
    }
}

@media (max-width: 992px) {
    .content-dashboar {
        left: 0px !important;
    }

    .img-slider-tlf {
        width: 40%;
    }
    #sidebar {
        margin-left: -280px;
    }
}

@media (max-width: 1024px) {
    .content-dashboar {
        left: 0px !important;
    }

    #sidebar {
        margin-left: -280px;
    }
}

@media (max-width: 1552px) {
    #sidebar {
        margin-left: -280px;
    }
}
