@media (max-width: 765px) {
    .menu-navbar {
        min-width: 250px !important;
    }

    .content-menu-logaut {
        width: 100%;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }

    .content-dashboar {
        left: 0px !important;
    }

    .title-icon {
        display: none;
    }
}
